In [1]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta
import random

In [2]:
# 1. Génération du dictionnaire pour le dataset de ventes électroniques factices
n_ventes = 1000000
n_dates = 365
dates_vente = [(datetime.now() - timedelta(days=i % n_dates)).strftime('%Y-%m-%d') for i in range(n_ventes)]
produits = ['Ordinateur', 'Tablette', 'Smartphone', 'Casque Audio', 'Souris', 'Clavier']
categories = ['Electronique', 'Accessoire']
data = {
    'ID_Vente': list(range(1, n_ventes + 1)),
    'Date_Vente': random.choices(dates_vente, k=n_ventes),
    'ID_Produit': [f"SK-{random.randint(1000, 2000)}" for _ in range(n_ventes)],
    'Nom_Produit': random.choices(produits, k=n_ventes),
    'Categorie_Produit': random.choices(categories, k=n_ventes),
    'Quantite': [random.randint(1, 5) for _ in range(n_ventes)],
    'Prix_Unitaire': [round(random.uniform(20, 1500), 2) for _ in range(n_ventes)]
}

In [4]:
df_ventes = pd.DataFrame(data)
df_ventes[df_ventes["Prix_Unitaire"] > df_ventes["Prix_Unitaire"].mean()]["Nom_Produit"]

2           Ordinateur
3           Smartphone
5              Clavier
7           Smartphone
10          Smartphone
              ...
999992      Smartphone
999993        Tablette
999995    Casque Audio
999997      Smartphone
999998         Clavier
Name: Nom_Produit, Length: 499394, dtype: object

In [7]:
conn = sqlite3.connect("datashop.sqlite3")
df_ventes.to_sql("ventes", conn, if_exists="replace", index=False)

1000000

In [8]:
df_ventes_2 = pd.read_sql("SELECT * FROM ventes", conn)
df_ventes_2

,ID_Vente,Date_Vente,ID_Produit,Nom_Produit,Categorie_Produit,Quantite,Prix_Unitaire
0,1,2023-07-25,SK-1032,Casque Audio,Accessoire,1,447.60
1,2,2023-04-08,SK-1816,Casque Audio,Electronique,3,122.57
2,3,2023-04-30,SK-1829,Ordinateur,Electronique,3,1096.60
3,4,2023-04-05,SK-1467,Smartphone,Accessoire,3,1375.28
4,5,2024-01-31,SK-1633,Tablette,Electronique,2,500.13
...,...,...,...,...,...,...,...
999995,999996,2024-02-24,SK-1779,Casque Audio,Electronique,5,842.50
999996,999997,2023-05-17,SK-1260,Souris,Accessoire,1,278.96
999997,999998,2024-03-09,SK-1667,Smartphone,Accessoire,3,903.49
999998,999999,2023-05-05,SK-1385,Clavier,Accessoire,5,835.73
999999,1000000,2023-11-01,SK-1280,Souris,Accessoire,5,210.27

In [9]:
conn.close()