In [2]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta
import random

In [3]:
# 1. Génération du dictionnaire pour le dataset de ventes électroniques factices
n_ventes = 1000000
n_dates = 365
dates_vente = [(datetime.now() - timedelta(days=i % n_dates)).strftime('%Y-%m-%d') for i in range(n_ventes)]
produits = ['Ordinateur', 'Tablette', 'Smartphone', 'Casque Audio', 'Souris', 'Clavier']
categories = ['Electronique', 'Accessoire', 'Licence logicielle']
data = {
    'ID_Vente': list(range(1, n_ventes + 1)),
    'Date_Vente': random.choices(dates_vente, k=n_ventes),
    'ID_Produit': [f"SK-{random.randint(1000, 2000)}" for _ in range(n_ventes)],
    'Nom_Produit': random.choices(produits, k=n_ventes),
    'Categorie_Produit': random.choices(categories, k=n_ventes),
    'Quantite': [random.randint(1, 5) for _ in range(n_ventes)],
    'Prix_Unitaire': [round(random.uniform(20, 1500), 2) for _ in range(n_ventes)]
}

In [4]:
df_ventes = pd.DataFrame(data)
df_ventes[df_ventes["Prix_Unitaire"] > df_ventes["Prix_Unitaire"].mean()]["Nom_Produit"]

0            Clavier
4            Clavier
6           Tablette
9            Clavier
10        Ordinateur
             ...
999991       Clavier
999993        Souris
999994    Smartphone
999996    Smartphone
999998    Ordinateur
Name: Nom_Produit, Length: 499974, dtype: object

In [5]:
conn = sqlite3.connect("datashop.sqlite3")
df_ventes.to_sql("ventes", conn, if_exists="replace", index=False)

1000000

In [6]:
df_ventes_2 = pd.read_sql("SELECT * FROM ventes", conn)
df_ventes_2

,ID_Vente,Date_Vente,ID_Produit,Nom_Produit,Categorie_Produit,Quantite,Prix_Unitaire
0,1,2023-07-20,SK-1265,Clavier,Accessoire,2,1478.74
1,2,2023-03-31,SK-1520,Souris,Licence logicielle,3,287.08
2,3,2023-11-03,SK-1250,Casque Audio,Accessoire,1,693.53
3,4,2024-01-05,SK-1704,Casque Audio,Electronique,1,559.99
4,5,2023-10-21,SK-1569,Clavier,Licence logicielle,2,1321.65
...,...,...,...,...,...,...,...
999995,999996,2023-09-28,SK-1965,Smartphone,Licence logicielle,5,84.89
999996,999997,2023-12-07,SK-1249,Smartphone,Accessoire,1,1277.74
999997,999998,2023-07-08,SK-1237,Casque Audio,Licence logicielle,5,346.08
999998,999999,2023-06-06,SK-1658,Ordinateur,Accessoire,5,897.31
999999,1000000,2023-07-23,SK-1429,Clavier,Accessoire,1,101.89

In [7]:
conn.close()

## Data analyse

- Exploration initiale
- Analyser les ventes par produit
  - Volume total
  - Revenu généré
  - Tendance dans ventes sur la période
  - Perforamance de chaque catégorie
- Etudier la présence de corrélations
- Analyser les outliers
- Visualiser les données (Excel) 

## Data opérationnelle

- Extraire les catégories du DF
- Générer un dataframe de catégories
- Créer un modèle relationnel dans la DB